body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 10px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.sep {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
    /*margin: 10px;*/
}

.comment-time {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
}

.comment-btn {
    padding: 5px 10px;
    margin-right: 5px;
    color: #999999;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.comment-btn:hover {
    background-color: dodgerblue;
    color: white;
}

.comment-content {
    /*padding-top: 0;*/
}

.comment-menu .active {
    background-color: dodgerblue;
    color: white;
}

.post-menu {
    margin-top: 10px;
}

.secondary-comment{
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.post-content{
    min-height: 380px;
}

.right-section {
    border-left: 1px solid #f0f0f0;
}

.post-tag {
    margin-right: 5px;
    font-size: 12px;
}

.realtedPost {
    line-height: 20px;
    font-size: 14px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    margin: 5px;
    white-space: normal;
    display: inline-block;
}